#helpful-links h2{
	font-size: 1%;
}
#room-form {
	margin: 0 60% 0 10px;
	/*
	top right bottom left;
	*/
}
#room-res {
	margin: 20px;
	text-align: center;
	border: 2px solid black;
}
#room-res-title {
	font-weight: bold;
}